[Desktop Entry]
Name=DiNoScore
Comment=The open source musician's digital music stand
Type=Application
Exec=dinoscore
Terminal=false
Categories=Music;Utility;GTK;
Keywords=Score;Sheets;Music Stand;Music;GTK;Rust;
Icon=de.piegames.dinoscore
StartupNotify=true
