.library-grid {
    background: none;
    padding: 10px;
}

.library-grid > child {
    margin: 5px;
    background-color: white;
    /*background: white;*/
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.2);
}

.library-grid > child:selected {
    /* https://gitlab.gnome.org/GNOME/libadwaita/-/blob/7424559bc17c9e5ae4b2199efae1b275c65b99a3/src/stylesheet/_colors.scss#L90 */
    background: alpha(var(--accent-bg-color), 0.25);
}

.library-grid picture {
    border-radius: 4px;
    margin: 3px;
}

/* Copy the library-grid styles (CSS gimme mixins please) */
.part-list {
    background: none;
    /*padding: 10px;*/
}

.part-preview-row {
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.2);
}

.part-preview-row picture {
    border-radius: 4px;
    margin: 3px;
}

.part-preview-row:selected {
    background: alpha(var(--accent-bg-color), 0.25);
}

.tag {
    border-radius: 9999px;
    margin: 3px;
    padding: 3px 10px;
}

/* Give some tags a color */
.tag-composer {
    color: var(--accent-purple);
}
.tag-form {
    color: var(--accent-orange);
}
.tag-instrument {
    color: var(--accent-teal);
}
.tag-favorite {
    color: var(--accent-yellow);
}
